@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        @apply p-0 m-0 box-border outline-none border-0 text-white scroll-smooth;
    }

    html,
    body,
    #__nuxt{
        @apply w-full h-full bg-gray-900;
    }

    .purple_rounded_btn{
        @apply py-2 px-4 bg-purple-600 hover:bg-purple-800 duration-300 cursor-pointer rounded;
    }

    .green_rounded_btn{
        @apply py-2 px-4 bg-green-600 hover:bg-green-800 duration-300 cursor-pointer rounded;
    }

    .blue_rounded_btn{
        @apply py-2 px-4 bg-blue-600 hover:bg-blue-800 duration-300 cursor-pointer rounded;
    }

    .red_rounded_btn{
        @apply py-2 px-4 bg-red-600 hover:bg-red-800 duration-300 cursor-pointer rounded;
    }

    input{
        @apply py-2 px-4 rounded bg-gray-700;
    }

    .link{
        @apply text-blue-600 underline;
    }

    .dashnav_link{
        @apply py-2 px-4 bg-gray-700 hover:bg-gray-600 duration-300 rounded w-full;
    }

    ::-webkit-scrollbar{
        @apply w-[8px] bg-gray-800 rounded-full;
    }

    ::-webkit-scrollbar-thumb{
        @apply bg-gray-700 hover:bg-gray-600 rounded-full;
    }

    @keyframes notiactive {
        0%{
            top: -100px;
        }

        100%{
            top: 3px;
        }
    }

    @keyframes notiinactive {
        0%{
            top: 3px;
        }

        100%{
            top: -100px;
        }
    }

    .notiactive{
        animation: notiactive 0.3s ease-in-out 1;
    }

    .notiinactive{
        animation: notiinactive 0.3s ease-in-out 1;
    }

    .roundbtn{
        @apply py-2 px-4 bg-gray-800 hover:bg-gray-700 duration-300 hover:shadow-md rounded-full;
    }

    .whtroundbtn{
        @apply py-2 px-4 bg-white text-black rounded-full;
    }

    .hr{
        @apply block w-[1px] h-[1px] bg-gray-700;
        content: "";
    }

    @keyframes animgroup1 {
        0%{
            transform: translateX(0);
            opacity: 100%;
        }

        100%{
            transform: translateX(-100rem);
            opacity: 0;
        }
    }

    @keyframes animgroup2 {
        0%{
            transform: translateX(100rem);
            opacity: 0;
        }

        100%{
            transform: translateX(0);
            opacity: 100%;
        }
    }

    .animgroup1{
        animation: animgroup1 1s linear 0s 1 normal forwards;
        @apply absolute;
    }

    .animgroup2{
        animation: animgroup2 1s linear 0s 1 normal forwards;
    }

    .tooltipbtn{
        @apply relative;
    }

    .tooltip{
        @apply absolute -translate-y-12 left-1/2 -translate-x-1/2 invisible opacity-0 duration-300 bg-black/20 p-1 rounded-full;
    }

    .tooltipbtn:hover .tooltip{
        @apply visible opacity-100;
    }

    .avatar .avatarin{
        @apply opacity-0 invisible duration-300;
    }

    .avatar:hover .avatarin{
        @apply opacity-100 visible;
    }
}